{% extends 'CherezWebHostingBundle:Email:layout.html.twig' %}

{% block content %}
    <h4>Изменен пароль ssh доступа на площадке "{{ allocationName }}"</h4>
    <p>
        Хост: {{ allocationHost }}<br/>
        Логин: {{ allocationName }}<br/>
        Пароль: {{ allocationPassword }}<br/>
    </p>
{% endblock content %}
