{% extends 'CherezWebHostingBundle:Email:layout.html.twig' %}

{% block content %}
    <h4>Удалено задание по расписанию на площадке "{{ allocationName }}"</h4>
    <p>
        Номер задания: {{ jobId }}<br/>
        Расписание запуска (в формате cron): {{ jobSchedule }}<br/>
        Скрипт для запуска: {{ jobScriptPath }}<br/>
    </p>
{% endblock content %}