<div>
{% block content %}{% endblock %}
<hr/>
<a href="http://hosting.cherezweb.ru{{ path('cherez_web_hosting_service_index') }}">
    http://hosting.cherezweb.ru{{ path('cherez_web_hosting_service_index') }}
</a>
</div>