{% extends 'CherezWebHostingBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::macros.html.twig' import label, badge %}
{% set headTitle = 'О хостинге ЧерезВеб' %}
{% block headline %}Хостинг ЧерезВеб{% endblock headline %}
{% block content_content %}
<p>Хостинг ЧерезВеб работает на базе собственного программного комплекса, разработанного программистами ЧерезВеб. Данное решение позволяет строить распределенную архитектуру из виртуальных серверов, на которых размещаются сайты клиентов.</p>
<p><img class="img-responsive center-block img-thumbnail" src="{{ asset('bundles/cherezwebhosting/img/diagram.jpg') }}" alt="ЧерезВеб"></p>
<p>Распределенная архитектура имеет ряд преимуществ перед традиционным подходом (когда для создания хостинга приобретаются несколько физических мощных серверов и устанавливаются в местных датацентрах или офисе хостинг провайдера).</p>
<h2>Надежность</h2>
<p>Арендуя виртуальные серверы у мировых лидеров, мы можем гарантировать нашим клиентам высокую надежность работы аппаратной части хостинга ЧерезВеб.</p>
<p>Расположенные в США дата-центры укомплектованы современным оборудованием и обслуживаются профессионалами своего дела. Благодаря такому подходу аптайм вычислительной системы достигает 99.99%, что практически исключает возможность перебоев в работе оборудования.</p>
<h2>Стабильность</h2>
<p>Архитектура хостинга ЧерезВеб устроена таким образом, что вместо нескольких супер-серверов мы имеем множество небольших независимых виртуальных серверов, на которых размещаются сайты наших клиентов. Скачок нагрузки на одном из серверов никак не влияет на работу других узлов системы, что значительно сужает область поражения. К тому же автоматизированная система мониторинга восстановит работу сервера через пару минут после возникновения проблемы.</p>
<h2>Экономичность</h2>
<p>Чем больше север - тем он дороже, к тому же задействовать все вычислительные ресурсы сервера сразу невозможно. Расходы на лишнюю производительность покрываются либо за счет высоких цен, либо компенсируются экономией на новом сервере, что негативно сказывается на производительности.</p>
<p>Хостинг ЧерезВеб предоставляет одни из самых выгодных цен за счет использования небольших серверов. Общая производительность системы сопоставима с ресурсами, которые потребляют клиенты, а излишки вычислительных мощностей крайне малы.</p>
<h2>Производительность</h2>
<p>Зачастую на хостингах наблюдается падение производительности с ростом числа клиентов. Помимо экономической составляющей на это влияет и трудоемкость процесса покупки, настройки и запуска новых серверов.</p>
<p>На хостинге ЧерезВеб процесс запуска новых серверов выполняется в полуавтоматическом режиме – за считанные минуты запускается новый виртуальный сервер, а вместе с ним появляются новые вычислительные ресурсы, способные разместить новых клиентов. Таким образом, средняя нагрузка на серверах остается практически неизменной.</p>

{% endblock content_content %}