{% extends 'CherezWebHostingBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}
{% set headTitle = 'Бесплатный перенос сайта на Хостинг ЧерезВеб' %}
{% block headline %}Бесплатный перенос сайта на Хостинг ЧерезВеб{% endblock headline %}
{% block content_content %}
    <p>После создания хостинговой площадки на любом из платных тарифных планов вы имеете право на один бесплатный перенос сайтов (до 3-х сайтов) от другого хостинг-провайдера на данную площадку.</p>
    <p>Услуга предоставляется каждый раз при подключении новой площадки.</p>
    {{ flash('warning',
        '
            <p>Если ваш сайт требует специфических настроек хостинга, обязательно перед покупкой хостинга свяжитесь с технической поддержкой для уточнения возможности переноса вашего сайта на Хостинг ЧерезВеб.</p>
        ',
    false, true) }}
{% endblock content_content %}