{% extends 'CherezWebHostingBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::macros.html.twig' import label, badge %}
{% set headTitle = 'Правила пользования хостингом' %}
{% block headline %}Правила пользования хостингом{% endblock headline %}
{% block content_content %}
    <ol>
        <li>Услуги должны использоваться только для законных целей. Нелегальные действия включают в себя (но не ограничиваются далее перечисленными) - рассылку вирусов или других вредных компонентов, распространение наркотиков, попытки несанкционированного доступа к компьютерным системам, пиратство (распространение защищаемых авторскими правами материалов в нарушение авторских прав), проведение азартных игр, схем обмана, рассылка незапрашиваемой рекламы и информации - спам, использование в e-mail неправильного или несуществующего обратного адреса, а также любые некорректные действия, которые могут повлечь за собой нарушение прав третьих лиц. Под некорректными действиями понимаются рассылка информации частного характера о персоне без ее согласия, нарушение прав интеллектуальной собственности, распространение клеветы на физическое или юридическое лицо, либо иные действия, нарушающие действующее законодательство РФ.</li>
        <li>Исполнитель вправе отказать в предоставлении услуг Заказчику в случае, если его сайт создает значительную нагрузку на сервер, тем самым причиняя ущерб остальным клиентам.</li>
        <li>Порнография и любые материалы сексуального характера не могут размещаться на нашем сервере.</li>
        <li>Запрещено осуществлять действия, направленные на нарушение нормального функционирования элементов сети Интернет (компьютеров, другого оборудования или программного обеспечения), на получение несанкционированного доступа к ресурсам сети Интернет и последующее использование такого доступа , а также уничтожение или модификация программного обеспечения и данных, не принадлежащих пользователю, без согласования с владельцем этого программного обеспечения или данных либо с администратором данного ресурса.</li>
        <li>Запрещается осуществление действий по передаче компьютерам или оборудованию третьих лиц, а так же получение с них бессмысленной или бесполезной информации, создающей излишнюю (паразитную) нагрузку на эти компьютеры или оборудование, а также промежуточные участки сети, в объемах, превышающих минимально необходимые для проверки связности сетей и доступности отдельных ее элементов.</li>
        <li>Запрещается осуществление действий по сканированию узлов сетей с целью выявления внутренней структуры сетей, уязвимости безопасности, списков открытых портов и т.п., без явного согласия владельца проверяемого ресурса.</li>
        <li>Вычислительная мощность сервера не ограничена, при условии надлежащего использования Заказчиком услуг Исполнителя.</li>
    </ol>
{% endblock content_content %}