{% extends 'CherezWebDefaultBundle::default.html.twig' %}
{% block headline %}Ошибка{% endblock headline %}
{% block content_content %}
    <p>На странице призошла ошибка. Вы можете пожаловаться на эту ошибку в тех. поддержку по адресу: <a href="mailto: support@cherezweb.ru">support@cherezweb.ru</a>.</p>
{% endblock content_content %}